In [25]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT f.name AS facility_name,
       strftime('%m', b.starttime) AS month,
       strftime('%Y', b.starttime) AS year,
       SUM(b.slots) AS usage_by_members
FROM Bookings AS b
JOIN Facilities AS f ON b.facid = f.facid
WHERE b.memid != 0
GROUP BY f.facid, year, month
ORDER BY usage_by_members DESC
;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', '09', '2012', 507)
('Pool Table', '09', '2012', 443)
('Tennis Court 1', '09', '2012', 417)
('Tennis Court 2', '09', '2012', 414)
('Badminton Court', '08', '2012', 414)
('Snooker Table', '09', '2012', 404)
('Massage Room 1', '09', '2012', 402)
('Table Tennis', '09', '2012', 400)
('Tennis Court 2', '08', '2012', 345)
('Tennis Court 1', '08', '2012', 339)
('Massage Room 1', '08', '2012', 316)
('Snooker Table', '08', '2012', 316)
('Pool Table', '08', '2012', 303)
('Table Tennis', '08', '2012', 296)
('Tennis Court 1', '07', '2012', 201)
('Squash Court', '08', '2012', 184)
('Squash Court', '09', '2012', 184)
('Massage Room 1', '07', '2012', 166)
('Badminton Court', '07', '2012', 165)
('Snooker Table', '07', '2012', 140)
('Tennis Court 2', '07', '2012', 123)
('Pool Table', '07', '2012', 110)
('Table Tennis', '07', '2012', 98)
('Squash Court', '07', '2012', 50)
('Massage Room 2', '09', '2012', 28)
('Massage Room 2', '08', '2012', 18)
('Massage Room 2', '07', '2012', 8)